@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
}

.btn-bot {
  padding: 8px;
  background: #9D5A2B;
  border: none;
  color: white;
  border-radius: 4px;
  margin: 4px;
}

.leftM {
  margin-left: 16px;
}

.BgImage {
  background-image: url("./images/11.jpg");

}

.BgImage2 {
  background-image: url("./images/4.jpg");

}

.BgImage3 {
  background-image: url("./images/1.jpg");

}

.BgImage4 {
  background-image: url("./images/5.jpg");

}

.e1Image {
  background-image: url("./images/e1.jpg");

}

.e2Image {
  background-image: url("./images/e2.jpg");

}

.e3Image {
  background-image: url("./images/e3.jpg");

}

.e4Image {
  background-image: url("./images/e4.jpg");

}

.c1Image {
  background-image: url("./images/c1.jpg");

}

.c2Image {
  background-image: url("./images/c2.jpg");

}

.c3Image {
  background-image: url("./images/c3.jpg");

}

.c4Image {
  background-image: url("./images/c4.jpg");

}

.c5Image {
  background-image: url("./images/c5.jpg");

}

.react-chatbot-kit-chat-bot-message {
  background-color: #9D5A2B;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #9D5A2B;
}
.react-chatbot-kit-chat-btn-send{
  background-color: #9D5A2B;
}